<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hand 'N Paw</title>

  <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="assets/images/hand-n-paw-logo.png">
  <link rel="stylesheet" href="assets/styles/styles.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script type="text/javascript" src="assets/js/breedsApp.js"></script>
	</head>
	<body>


    <div class="jumbotron white-text" id="tagline">
    <img id="logo" src="assets/images/hand-n-paw-logo.png" alt="">
    <h1 class="display-4 text-white welcome-banner">Hand 'N Paw</h1>
    <h3 class="text-white welcome-banner">Connecting dog lovers to furry friends in need!</h3>
    </div>
  
<div class="row">
  <div class="col s3">
    <div class="row">
      <a class="menu-item" href="shelters">Pet Search</a>
    </div>
    <div class="row">
      <a class="menu-item" href="petfind">Breed Quiz</a>
    </div>
    <div class="row">
      <a class="menu-item" href="/newsletter">Newsletter</a>
    </div>
    <div class="row">
      <a class=" menu-item" href="/">Home<img src="assets/images/hand-n-paw-logo.png" width="42" alt=""></a>
    </div>
  </div>
</div>
		{{{ body }}}


    <footer class="footer-font-style text-info footer-position">
      <span>
        <img id="footer-logo" src="assets/images/hand-n-paw-logo-footer.png" alt="" style="max-width: 12rem;">
        <p id="by-line">This site was created by the Hand 'N Paw Team: Mani, Ian & Timber</p>
      </span>
    </footer>
	</body>
</html>
