<main class="Site-content"> 
  <div>
    <div class="container z-depth-5 center">
      <div class="card-panel deep-purple white-text">
        <div class="card-content white-text center">
        </div>
        <div class="card teal white-text">
          <div class="card-content">

            {{breeds.breed_name}}
  
          </div>
        </div>
      </div>
    </div>
  </div>
</main>