<main class="Site-content"> 
  <div>
    {{!-- <div class="jumbotron white-text" id="tagline">
      <img id="logo" src="assets/images/hand-n-paw-logo.png" alt="">
      <h1 class="display-4 text-white welcome-banner">Hand 'N Paw</h1>
      <h3 class="text-white welcome-banner">Connecting dog lovers to furry friends in need!</h3>
    </div> --}}
     
    <div class="container z-depth-5 center">
      <div class="card-panel deep-purple white-text">
        <div class="card-content white-text center">
        </div>
        <div class="card teal white-text">
          <div class="card-content">

            {{breeds.breed_name}}
  
          </div>
        </div>
      </div>
    </div>
  </div>
</main>