<main class="Site-content">  
  
    <div class="container z-depth-5 center">
        <div class="card-panel deep-purple white-text">
          <div class="card-content white-text center">
          </div>
          <div class="card teal white-text">
            <div class="card-content">


                 <h6>Please enter your email address to subscribe to our newsletter</h6>
                 <div class="input-field col s10">
                   <input id="emailfield" type="email" required name="email"/>
                 </div>

  
            </div>  <!--CLoses Card Content-->
          </div>
          <button class="btn-large waves-effect waves-light teal accent-4" type="submit" name="action" id="newslettersubmit" >Submit<i class="material-icons right">send</i></button>
        </div>
      </div> <!-- closes container -->

    </main> <!--Don't Lose THIS TAG-->
  
        <!-- Modal Structure -->
    <div id="resultsModal" class="modal deep-purple lighten-1 white-text">
      <div class="modal-content center">
        <div class="card teal white-text z-depth-5 center">
          <h4>Best Match</h4>
          <hr>
          <h2 id="matchName"></h2>
          <h4 id="temperment"></h4>
          <img id="matchImage" class="responsive-img" width="350" src="" alt="">
          <br>
          <h5 id="about"></h5>
        </div>
      </div>
        <div class="modal-footer teal">
          <a class="waves-effect waves-light btn modal-close"><i class="material-icons left">close</i>Close</a>
        </div>
      </div>
  
    

