<main class="Site-content">  
  
    <div class="container z-depth-5 center">
        <div class="card-panel deep-purple white-text">
          <div class="card-content white-text center">
          </div>
          <div class="card teal white-text">
            <div class="card-content">


                 <h6>Please enter your email address to subscribe to our newsletter</h6>
                 <div class="input-field col s10">
                   <input id="emailfield" type="email" required name="email"/>
                 </div>

  
            </div>
          </div>
          <button class="btn-large waves-effect waves-light teal accent-4" type="submit" name="action" id="newslettersubmit" >Submit<i class="material-icons right">send</i></button>
        </div>
      </div>

    </main>
  
  
    

