<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hand 'N Paw - Dog Search</title>
  
  <!--BootStrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="shortcut icon" type="image/png" href="assets/images/hand-n-paw-logo.png">
  <link rel="stylesheet" href="assets/styles/styles.css">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Mali" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

  <div class="jumbotron">
    <img src="assets/images/hand-n-paw-logo.png" alt="">
    <h1 class="display-4 text-white welcome-banner">Hand 'N Paw</h1>
    <h3 class="text-white welcome-banner">Connecting dog lovers to furry friends in need!</h3>
  </div>

  <div class="row">
    <nav class="nav flex-column">
      <a class="nav-link menu-item" href="shelters">Shelters</a>
      <a class="nav-link menu-item" href="/survey">Breed Quiz</a>
      <a class="nav-link menu-item" href="/newsletter">Newsletter</a>
      <a class="nav-link menu-item" href="/">Home<img src="assets/images/hand-n-paw-logo.png" width="42" alt=""></a>
    </nav>

    <div class="card text-white mb-3 search-card" style="max-width: 38rem;">
      <div class="card-header text-center"><h3>Tell us about the dog you're looking for</h3></div>
      <div class="card-body">
        <form>
          <div class="form-group align-items-center">

            <div class="row justify-content-md-center">
              <div class="col-8" style="max-width: 28rem;">
                <label class="sr-only" for="dogGender">Gender</label>
                <input type="text" class="form-control mb-2" id="gender" placeholder="M (Male), F (Female)">
              </div>
            </div> 

            <div class="row justify-content-md-center">
              <div class="col-8">
                <label class="sr-only" for="dogSize">Size</label>
                <input type="text" class="form-control mb-2" id="size" placeholder="S (Small), M (Medium), L (Large), XL (Extra-Large)">
              </div>
            </div>
            
          <div class="row justify-content-md-center">
            <div class="col-8">
              <label class="sr-only" for="dogAge">Age</label>
              <input type="text" class="form-control mb-2" id="age" placeholder="Baby, Young, Adult, Senior">
            </div>
          </div>  

          <div class="row justify-content-md-center">
            <div class="col-8">
              <label class="sr-only" for="zipCode">Zip Code</label>
              <input type="text" class="form-control mb-2" id="zipCode" placeholder="Zip Code">
            </div>
          </div>  

          <div class="row justify-content-md-center">
            <div class="col" style="max-width: 6rem;">
              <button type="submit" id="submitDogSearch" class="btn btn-secondary">Submit</button>
            </div>
          </div>
          
          </div> 
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card-columns" id="search-results"></div>
  </div>

  <div class="footer-margin"> 
    <footer class="footer-font-style footer-position">
      <span>
        <img id="footer-logo" src="assets/images/hand-n-paw-logo-footer.png" alt="" style="max-width: 12rem;">
        <p id="by-line">This site was created by the Hand 'N Paw Team: Mani, Ian & Timber</p>
      </span>
    </footer>
  </div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="../assets/js/pet-find.js"></script>

	</body>
</html>