<main class="Site-content">  
    <div class="container z-depth-5">
      <div class="card-panel deep-purple white-text">
        <div class="card-content white-text center">
          <h2><i class="small material-icons prefix white-text">format_list_numbered</i>  What's your ideal dog like?</h2>
          <hr>
        </div>
      </div>
    </div>
  
    <div class="container z-depth-5 center">
      <div class="card-panel deep-purple white-text">
        <div class="card-content white-text center">
      </div>
      <div class="card teal white-text">
        <div class="card-content">
          <h4>Which statement best describes your home?</h4>
            <div class="input-field col s6">
              <select class="select" id="q1">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">I'll be honest, it's tight.</option>
                <option value="2">Not a mansion, but plenty of elbow room.</option>
                <option value="3">I sometimes get lost on my way to the kitchen.</option>
              </select>
            </div>

          <h4>Tell us about your yard?</h4>
            <div class="input-field col s6">
              <select class="select" id="q2">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Yard? There's a park nearby.</option>
                <option value="2">I've got enough greenspace to play catch.</option>
                <option value="3">Sometimes I confuse it with a golf course.</option>
              </select>
            </div>
            
          <h4>Are there young children in your home?</h4>
            <div class="input-field col s6">
              <select class="select" id="q3">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">This is an adult space.</option>
                <option value="2">Not right now, but hopefully in the future.</option>
                <option value="3">Yes, we have a growing family.</option>
              </select>
            </div>
            
          <h4>When meeting people outside of your social circle your motto is...?</h4>
            <div class="input-field col s6">
              <select class="select" id="q4">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">"Stranger danger."</option>
                <option value="2">"Cordial, but cautious."</option>
                <option value="3">"A stranger is just a friend I haven't met yet."</option>
              </select>
            </div>
            
          <h4>Are there other animals in your family?</h4>
            <div class="input-field col s6">
              <select class="select" id="q5">
                <option value="" disabled selected>Choose your option</option>
                <option value="0">"One is enough."</option>
                <option value="1">"Call me Old McDonald."</option>
              </select>
            </div>        

          <h4>How do you feel about pet insurance?</h4>
            <div class="input-field col s6">
              <select class="select" id="q6">
                <option value="" disabled selected>Choose your option</option>
                <option value="0">Is that a thing? What will they think of next?</option>
                <option value="1">Of course! I'm already filling out the paperwork.</option>
              </select>
            </div>

          <h4>Would your close friends call you a 'clean freak'?</h4>
            <div class="input-field col s6">
              <select class="select" id="q7">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">I'm not happy unless you could eat of my floors.</option>
                <option value="2">I like to keep things tidy, but I'm not going to stress over it.</option>
                <option value="3">No way! A house is meant to look lived in!  </option>
              </select>
            </div>

          <h4>What's most likely to put you in a good mood?</h4>
            <div class="input-field col s6">
              <select class="select" id="q8">
                <option value="" disabled selected>Choose your option</option>
                <option value="1">Couch. Popcorn. Movie.</option>
                <option value="2">A leisurely stroll, taking in the scene.</option>
                <option value="3">An intense workout to release those endorphins! #gains.</option>
              </select>
            </div>
            <br>
           <br>
        </div>
      </div>
      <button class="btn-large waves-effect waves-light teal accent-4" type="submit" name="action" id="submit">Submit<i class="material-icons right">send</i></button>
    </div>
  </div>
</main>
  

  
    

