<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hand 'N Paw</title>

    <!--BootStrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/png" href="assets/images/hand-n-paw-logo.png">
    <link rel="stylesheet" href="assets/styles/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
 
  <div class="jumbotron">
    <h1 class="display-4 text-white">Welcome to Hand 'N Paw</h1>
    <h3 class="text-white">Connecting dog lovers to furry friends in need!</h3>
  </div>

  <div class="container">
    <div class="card bg-dark text-white pg-options">
      <img class="card-img" src="images/matthew-henry-58760-unsplash.jpg" alt="Card image">
      <div class="card-img-overlay">
        <div class="card-body">
          <h3 class="card-title">Search for Shelters in Your Area</h3>
          <a href="shelters.html" class="btn btn-info">Find a Local Shelter</a>
          <br>
          <br>
          <p class="card-text">You can't buy love, but you can adopt it from a shelter.</p>
          <p>To adopt a dog, is to save a life.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="card bg-dark text-white pg-options">
      <img class="card-img" src="images/matthew-henry-64794-unsplash.jpg" alt="Card image">
      <div class="card-img-overlay">
        <div class="card-body">
          <h3 class="card-title">Looking to Add to Your Family?</h3>
          <a href="pet-find.html" class="btn btn-info">Find Your Perfect Match</a>
          <br>
          <br>
          <p class="card-text">There's a dog for every family... and vice-versa.</p>
          <p>Tell us about the dog you're looking for and find your perfect fit.</p>
        </div>
      </div>
    </div>
    <br>
    <div class="card bg-dark text-white pg-options">
      <img class="card-img" src="images/ideal-breed-survey.jpg" alt="Card image">
      <div class="card-img-overlay">
        <div class="card-body">
          <h3 class="card-title">Take a Survey to Find Your Ideal Breed</h3>
          <a href="survey.html" class="btn btn-info">What's Your Ideal Breed</a>
          <br>
          <br>
          <p class="card-text">In other words, if you were a dog...</p>
          <p>What breed would you be?</p>
        </div>
      </div>
    </div>
    <br>
    <div class="card bg-dark text-white pg-options">
      <img class="card-img" src="images/blog.jpg" alt="Card image">
      <div class="card-img-overlay">
        <div class="card-body">
          <h3 class="card-title">Dog Adoption is More than a Notion</h3>
          <a href="#" class="btn btn-info">Read Our Blog</a>
          <br>
          <br>
          <p class="card-text">There's a dog for every family... and vice-versa.</p>
          <p>Tell us about the dog you're looking for and find your perfect fit.</p>
        </div>
      </div>
    </div>

  </div> <!--Closes Container-->

</body>
</html>