/* font-family: 'Mali', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Handlee', cursive; */

.list-group-item {
  line-height: 2.5;
}
body {
  background-color: #E9ECEF;
  background-image: url("../images/rawpixel-666934-unsplash.jpg");
  font-family: 'Mali', cursive;
}
.jumbotron {
  background-color: rgba(248, 243, 85, 0);
  background-image: url("../images/aaron-barnaby-454278-unsplash.jpg");
  background-size: cover;
}
.welcome-banner {
  font-weight: 800;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(111, 28, 150);
}
.pg-options {
  min-height: 140px !important;
}
.link-button {
  background-color: #20C997;
  color: white;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
#logo {
  margin: 0;
  padding: 0;
}
footer {
  background-color: rgba(248, 243, 85, 0);
  opacity: .7;
  height: 40px;
  color: #20C997;
}
#footer-logo {
  max-width: 90px !important;
}
.link-title {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(42, 42, 156), 0 0 5px darkblue;
}
#by-line {
  font-family: 'Patrick Hand', cursive;
  font-size: 24px;
  font-weight: 800;
  text-shadow: 2px 2px 3px #1a0111;
}
.link-description {
  font-family: 'Patrick Hand', cursive;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 2px 2px 3px #1a0111;
}
.search-card {
  background-color: #20C997;
}

/* Shelters */
#shelter-card {
  background-color: rgba(248, 243, 85, 0);
  opacity: .7;
  height: auto;
}
.shelter-name {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(42, 42, 156);
}
.shelter-location,
.shelter-info {
  font-family: 'Patrick Hand', cursive;
  font-size: 28px;
  text-shadow: 1px 1px 3px #1a0111;
}

/* Pet Find */
.pet-card {
  background-color: rgba(248, 243, 85, 0);
  opacity: .7;
  max-width: 300px;
}
.dog-name {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 2px 2px 4px black, 0 0 25px rgb(42, 42, 156);
}
.dog-age,
.dog-gender,
.dog-breed {
  font-size: 24px;
  text-shadow: 1px 1px 3px #1a0111;
}

/* Side Nav */
.menu-item {
  color: #6F42C1 !important;
  font-weight: 800;
  font-size: 30px;
  text-shadow: 1px 1px 3px #1a0111;
}

/* Media Queries */

@media (max-width: 480px) {
  .link-title {
    font-size: 20px;
  }
  .card-body {
    padding: .75rem; 
  }
  
 }